# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/

# Logs
logs/*
!logs/.gitkeep

# Uploads
uploads/*
!uploads/.gitkeep

# IDE
.vscode/
.idea/

# Environment
.env

*.egg-info
dist/
build/
demo/
